/* 
    - ChoeYeongHwan's PortPolio
    - helpodinbox@gmail.com
    개인정보가 포함되어져있으므로 본인(최영환)이외 사용을 허가하지않습니다.
*/

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    display: none;
}

body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/body.jpg);	
    
}

#header{
    /* background-color: #c9c5c5; */
    background: url(../img/bggif.gif);
    background-position: -100% 200px;
    width: 99%;
    position: fixed;
    top: 0;
    height: 125px;
    border-radius: 10px;
    border: 10px solid #fff;
    z-index: 9;
    
}

#headerIn{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin : 0 auto;
}

#bLogo{
    width: 150px;
    height: 80px;
    margin-top: 10px;
    margin-left: 15px;
}

.nav {
    height: auto;
    display: inline-block;
    margin-right: 5px;
    justify-content: right;
}

.nav li {
    display: inline-block;
    margin-top: 10px;
}

.nav li a {
    display: inline-block;
    padding: 0 5px;
    color: #fffefe;
    font-size: 25px;
    font-family: 'hanna';
}

.nav li a:hover{
    /* color: #03A678; */
    color: #28E664;
}

#notice{
    position: absolute;
    bottom: 30%;
    right: 5%;

    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
   	display: flex;
   	justify-content: space-between;
   	
   	width:30%
}

#notice p{
    font-size: 1rem;
    font-family: 'hanna';
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
    color: rgb(0, 0, 0);

    animation: textNotice 16s linear infinite;
}

@keyframes textNotice{
    20%{transform: translateX(20vw);}
    100%{transform: translateX(-30vw);}
}

#notice #noticeContent button{
	border: 0;
	background-color: transparent;
	cursor: pointer;
	
	font-size: 1rem;
    font-family: 'hanna';
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
}


.bar{
    width: 100%;
    height: 30px;
    background: #2600ff;
    overflow: hidden;
    padding: 5px 0;
    box-sizing: border-box;
    white-space: nowrap;
    /* position: relative; */
    position: absolute;
    bottom:0;
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.bar span{
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    font-family: 'hanna';
    font-weight: bold;
    text-align: center;
    animation: textloop 20s linear infinite;
}

@keyframes textloop{
    0%{transform: translateX(100vw);}
    100%{transform: translateX(-50vw);}
}

/* header 영역 끝 */

/* #mainContents 영역 시작 */
#mainContents{

    display: block;
    background-color: #9ACDFF;
    border-radius: 15px;
    padding: 15px;
    margin: 160px auto 0 auto;
    width: 80%;
    height: 100%;
    min-height:500px;
}

#mainContents #memberRegister{
	margin: 0 auto;
  width:50%;
  height:100%;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  border-radius: 15px;
}

#mainContents #regTitle{
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'hanna';
}

#mainContents #regContent{
	font-size: 1.2em;
	font-family: 'hanna';
	text-align: left;
	
}

#mainContents .textForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
  font-family: 'hanna';
}

#mainContents .textForm input{
	width: 100%;
  	border:none;
  	outline:none;
  	color: #636e72;
  	font-size:16px;
  	height:25px;
  	background: none;
}

#mainContents #submit{

  	margin-bottom: 40px;
  	width:80%;
  	height:40px;
  	background: linear-gradient(125deg,#034159,#02735E,#0CF25D);
  	background-position: left;
  	background-size: 200%;
  	color:white;
  	font-weight: bold;
  	border:none;
  	cursor:pointer;
  	transition: 0.4s;
  	display:inline;
}

#mainContents #submit:hover {
  background-position: right;
}

#mainContents .idCheck{
	display: flex;

}

#mainContents #resultId{
	width: 60%;
}

/* #mainContents 영역 끝 */

/* footer 영역 시작 */
#footer{
    margin-top: 15px;
    background: url(../img/bl_bg.png);
}

.footer{
    overflow: hidden; 
    color: #fff; 
    font-family: 'Montserrat', sans-serif; 
    text-align: center; 
    padding: 3% 0; 
    box-sizing: border-box;
}

.footer .footer_p1{
    font-size:1rem; 
    font-weight: bold;
}

.footer .footer_p2{
    font-size: 1em; 
    font-family: 'S-CoreDream-2ExtraLight'; 
    margin-top: 1%;
    border-bottom: solid;
    padding-bottom: 10px;
}

.footer address{
    margin-top: 0.5%; 
    font-style: normal; 
    font-size: 0.8em;
}

#footerContent{
    width: 100%;
    margin-top: 10px;
}

#footerContent img{
    width: 5%;
    opacity: 1.0;
}

#footerContent img:hover{
    opacity: 0.5;
}

#pointer img{
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: .5;
}

/* footer 영역 끝 */

/* 모바일 영역 CSS 시작 */
@media (min-width: 355px) and (max-width: 619px) {
    #notice{
        width: 50%;
    }
    
    #header{
        background-color: #c9c5c5;
        width: 97%;
    }

    #headerIn{
        width: 100%;
    }

    #bLogo{
        width: 80px;
        height: 50px;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .nav li a {
        font-size: 0.8em;
        padding: 0 1px;
    }

    #footerContent img{
        width: 15%;
    }
    
    #mainContents #memberRegister{
    	width: 100%;
    }
    
    #mainContents .textForm{
    	margin-bottom: 10px;
    }

}
/* 모바일 영역 CSS 끝 */

/* 태블릿 영역 CSS 시작 */
@media (min-width: 620px) and (max-width: 1024px) {

    #header{
        background-color: #c9c5c5;
        width: 98%;
    }

    #bLogo{
        width: 100px;
        height: 60px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .nav li a {
        font-size: 19px;
        padding: 0 2px;
    }

    #footerContent img{
        width: 7%;
    }
    
    #mainContents #memberRegister{
    	width: 70%;
    }
    
    #mainContents .textForm{
    	margin-bottom: 10px;
    }

}
/* 태블릿 영역 CSS 끝 */

/* 320px -> 354px 모바일 배려 시작 */
@media (min-width: 320px) and (max-width: 354px) {

    #notice{
        width: 50%;
    }
    
    #header{
        background-color: #c9c5c5;
        width: 96%;
    }

    #headerIn{
        width: 100%;
    }

    #bLogo{
        width: 80px;
        height: 50px;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .nav li a {
        font-size: 0.5em;
        padding: 0 1px;
    }

    #footerContent img{
        width: 8%;
    }
    
    #mainContents #memberRegister{
    	width: 100%;
    }
    
    #mainContents .textForm{
    	margin-bottom: 10px;
    }

}
/* 320px -> 354px 모바일 배려 끝 */