/* 
    - ChoeYeongHwan's PortPolio
    - helpodinbox@gmail.com
    개인정보가 포함되어져있으므로 본인(최영환)이외 사용을 허가하지않습니다.
*/
@charset "UTF-8";

@font-face {
    font-family: 'hanna';
    src: url('../ttf/BMHANNAPro.ttf') format('truetype');
}

/* 모달 (배경) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* 모달 내용 */
.modal-content {
    background-color: #fefefe;
    margin: 35% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}
/* 닫는 버튼 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#nt-title{
	font-family: 'hanna';
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	width: 80%;
	height: auto;
	background-color: #000;
	padding: 0 10px;
	margin: 0 auto;
	border-radius:15px;
	
}

